
{% extends "tasks/layout.html" %}
{% load static %}

{% block body %}
<section id="container-img">
    <img src="{% static 'tasks/imgs/fundo.png'%}" alt="">
</section>
<section id="container-tasks">
    <div id="container-form-lista">
        <div id="container-form">
            <h2>Bem vindo ao saveTasks em django</h2>
            <form action="{% url 'add_task' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Insira sua task" name="tarefa">
                <input class="inputSubmit"type="submit" value="adicionar">
            </form>
        </div>
        <div id="container-lista-tasks">
            <ul>

                {% for task in tasks %}
                    <li>
                        <div id="task">
                            <h3>{{task}}</h3>
                        </div>
                        <div id="task-remove">
                            <form action="{% url 'del_task' %}" method="POST">
                                {% csrf_token %}
                                <input style="display:none" type="text" name="del-task" value="{{task.id}}">
                                <input type="submit" value="x">
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>
</section>
{% endblock %}