body{
    display: flex;
    height: ;

}

#container-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
